.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 2rem;
  background-color: #fff5f0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  color: #ef4723;
  font-weight: bold;
  z-index: 1000;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  margin: 0 auto;
}
.header-left{
  font-size: 1.8rem;
}


@media (max-width: 600px){
    .header{
        font-size: 16px;
        padding: 8px 12px;
    }

.profile-icon {
  width: 30px;
  height: 30px;
  
}
}
