.home-container{
   padding: 0 2rem;
  flex-wrap: "wrap";
  max-height: 100vh;
  padding-bottom: 60px;    
  padding-top: 80px;                                                                                    
}
