.auth-form {
  max-width: 400px;
  margin: auto;
  padding: 2rem;
  background: whitesmoke;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  flex-direction: column;
}

.auth-form h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-weight: 600;
  font-size: 1.8rem;
}

.auth-form input {
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

.auth-form button {
  width: 100%;
  padding: 0.75rem;
  background-color: #f85a40;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.auth-form button:hover {
  background-color: #e14a2f;
}

.auth-form p {
  text-align: center;
  font-size: 0.9rem;
}

body{
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7f7f7;
}